# yaml-language-server: $schema=https://raw.githubusercontent.com/yannh/kubernetes-json-schema/refs/heads/master/v1.33.0/persistentvolumeclaim-v1.json

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: minecharts-web-pvc
  namespace: minecharts
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
