button {
  cursor: pointer;
}

/* Hide default number input spinners (Firefox) */
input[type='number'] {
  -moz-appearance: textfield;
}

/* Hide default number input spinners (Chrome/Safari/Edge) */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
